@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;1,800&display=swap');

html {
  font-family: 'Exo 2', sans-serif;
}

body {
  background-color: black;
  text-align: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 55rem;
  padding: 7rem 0;
  font-size: 25px;
  border-radius: 15px;
  color: whitesmoke;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}